.justify-content-around {
    padding: 2rem;
    background-color: #FFFFFF;
}

.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px #BDCCDC;
    border: none !important;
}



