[data-testid="main-button"] {
    background-color: var(--secondary-color) !important;
    color: var(--white) !important;
}

[data-testid*="action-button-"] {
    background-color: var(--gray95) !important;
}

.fab-facebook {
    color: var(--facebook-blue) !important;
}

.fab-whatsapp {
    color: var(--whatsapp-green) !important;
}

.fab-black {
    color: var(--black) !important;
}