.es-header-total-reviews-value {
    color: var(--black) !important;
}

.es-header-total-reviews-text {
    color: var(--black) !important;
}

.es-review-info-date {
    color: var(--black) !important;
}

.es-review-source-source-bottom-container {
    color: var(--black) !important;
}